[user]
	name = taot\n
	email = libra_kevin1983@hotmail.com\n
[credential]
	helper = cache
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	status = auto
[push]
	default = simple
[diff]
	submodule = log
