! transparent setting
URxvt.inheritPixmap:true
! Color setting
! light theme
! URxvt.cursorColor:blue
! URxvt.foreground:black
! URxvt.background:lightyellow
! URxvt.tintColor:lightgray
! URxvt.shading:-80
! dark theme
URxvt.cursorColor:green
URxvt.foreground:lightgray
URxvt.background:black
URxvt.tintColor:lightgray
URxvt.shading:30

! normal setting
URxvt.termName:rxvt-unicode
URxvt.cursorBlink:true
URxvt.saveLines:65535
URxvt.scrollBar_right:true
URxvt.scrollTtyKeypress:true
URxvt.scrollTtyOutput::false
URxvt.scrollWithBuffer:true
URxvt.scrollstyle:plain
!URxvt.font:xft:serif:pixelsize=13:antialias=false
!URxvt.font: 9x15bold,\
! -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso10646-1,\
! -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1,\
! [codeset=cp936]xft:serif:antialias=false, \
! xft:simsun:antialias=false

!URxvt.font: -*-fixed-medium-r-*--14-*-*-*-*-*-iso10646-1,\
    !xft:DejaVuSansMono:pixelsize=14:antialias=false
!URxvt.font: -*-fixed-medium-r-*--18-*-*-*-*-*-iso10646-1,\
    ! xft:SimHei:pixelsize=14:antialias=false
URxvt.font: xft:DejaVu SansMono:size=10
